[Unit]
Description=YggOps - The Generic GitOps Application
After=network.target

[Service]
User=${USER_NAME}
Group=${GROUP_NAME}
WorkingDirectory=/var/lib/${BINARY_NAME}
ExecStart=/usr/local/bin/${BINARY_NAME}
Restart=always

[Install]
WantedBy=multi-user.target
