[Unit]
Description=YggOps - The Generic GitOps Application
After=network.target

[Service]
User=yggops
Group=yggops
WorkingDirectory=/var/lib/yggops
ExecStart=/usr/bin/yggops
Restart=always

[Install]
WantedBy=multi-user.target
